services:
  api:
    build: .
    depends_on:
      db:
        condition: service_started
    volumes:
      - .:/usr/app/
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:root@db/postgres
    networks:
      - api
  db:
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=postgres
    ports:
      - "5434:5432"
    networks:
      - api

volumes:
  postgres_data:

networks:
  api: 
    name: api

